<!--
  This view should only display one pizza, with flavor, location, and picture.
-->

<!DOCTYPE html>
<html>
<head>
	<title>Pizza</title>
</head>
<body>
	<h1>Pizza</h1>
	<div class="more">
		<p>Flavor: <%= pizzas.flavor %></p>
		<p>Location: <%= pizzas.location %></p>
		<img src=<%=pizzas.image%>> 
	</div>
</body>
</html>