<!-- When rendered in the browser, the /pizza view should:
  - have a list of every pizza flavor
  - the pizza flavors should also have the location and the picture
--> 
<!DOCTYPE html>
<html>
<head>
	<title>Pizzas</title>
</head>
<body>
	<h1>List of all Pizzas</h1>
	<div class="more">
		<% for (i=0; i < pizzas.length; i++) { %>
		<p>Flavor: <%= pizzas[i].flavor %></p>
		<p>Location: <%= pizzas[i].location %></p>
		<img src=<%=pizzas[i].image%>> 
		<% } %>
	</div>
</body>
</html>